.header {
  font-family: "SanFranciscoDisplayBlack", serif;
  display: flex;
  justify-content: space-between;
  font-family: "SanFranciscoDisplayBlack", serif;
  background-color: var(--color-theme);
  font-size: 1.6rem;
  align-items: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid var(--color-theme-txt-light);
}

.header__brand--logo {
  width: 3rem;
}

.header__brand {
  text-decoration: none;
  color: var(--color-theme-txt);
  font-weight: 700;
  padding: 1rem 0.8rem;
}

.header__group {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.header__button {
  text-decoration: none;
  color: var(--color-theme-txt) !important;
  font-size: 1.15rem;
  text-decoration: none;
  padding: 1rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.header__button:hover {
  background-color: rgba(94, 94, 94, 0.8);
  color: var(--color-white) !important;
}

.user__group {
  display: flex;
  align-items: center;
}

.user__photo img {
  width: 1.8rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
}

.user__name {
  text-transform: capitalize;
  font-size: 1.2rem;
}
