<div class="header">
  <div>
    <a routerLink="/" class="header__brand">
      <img
        src="../../assets/logo.png"
        alt="FakeNewsDetection Logo"
        class="header__brand--logo"
      />
      <p class="header__brand--txt">Fake News Detector</p>
    </a>
  </div>

  <div class="header__group">
    <a *ngIf="user" class="header__button" routerLink="/scanner">Detector</a>
    <a *ngIf="!user" class="header__button" (click)="signInWithGoogle()"
      >Login with Google
    </a>
    <a *ngIf="!user" class="header__button" (click)="signInWithFB()"
      >Login with Facebook
    </a>
    <div *ngIf="user" class="header__button" style="padding: 0.6rem 0.8rem">
      <div class="user__group">
        <div class="user__photo">
          <img [src]="user.photoUrl" alt="userName" />
        </div>
        <div class="user__name">
          {{ userName }}
        </div>
      </div>
    </div>
    <div *ngIf="user" class="header__button">
      <a (click)="signOut()"
        >Logout
        <fa-icon [icon]="signOutIcon"></fa-icon>
      </a>
    </div>
  </div>
</div>
