.header {
  font-family: "SanFranciscoDisplayBlack", serif;
  display: flex;
  justify-content: space-between;
  font-family: "SanFranciscoDisplayBlack", serif;
  background-color: #333;
  font-size: 1.4rem;
  align-items: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.header__brand {
  text-decoration: none;
  color: #f5f4f7;
  padding: 1rem 0.8rem;
}

.header__group {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.header__button {
  text-decoration: none;
  color: #c2c2c2;
  padding: 1rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.header__button:hover {
  background-color: rgba(94, 94, 94, 0.8);
}

.header__button a {
  text-decoration: none;
  color: #c2c2c2;
}

.header__button a:hover {
  color: var(--color-white);
}

.user__group {
  display: flex;
  align-items: center;
}

.user__photo img {
  width: 1.8rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
}

.user__name {
  text-transform: capitalize;
  font-size: 1.2rem;
}
