<div class="scanner">
  <div class="row">
    <div class="left">
      <h2 class="heading--primary">Scan & Detect Fake <span>Images</span></h2>
      <h3 class="heading--secondary">Place an image link or upload an image</h3>
      <div class="form__group">
        <label for="img" class="search_icon--label"
          ><div class="search_icon" title="Upload File">
            <svg
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              width="45px"
              height="45px"
              viewBox="0 0 612 612"
              style="enable-background: new 0 0 612 612"
              xml:space="preserve"
            >
              <g>
                <g id="_x31_0_28_">
                  <g>
                    <path
                      d="M218.953,197.915L285.6,117.13v290.864c0,11.281,9.139,20.44,20.4,20.44s20.4-9.139,20.4-20.44V116.355l67.299,81.559
          c7.997,8.038,20.972,8.038,28.969,0c7.996-8.038,7.996-21.053,0-29.09L321.851,46.608c-4.264-4.284-9.935-6.1-15.504-5.814
          c-5.589-0.285-11.24,1.53-15.504,5.814L189.985,168.824c-7.997,8.038-7.997,21.053,0,29.09
          C197.982,205.952,210.957,205.952,218.953,197.915z M591.6,367.235c-11.261,0-20.399,9.139-20.399,20.399v142.8H40.8v-142.8
          c0-11.261-9.139-20.399-20.4-20.399S0,376.374,0,387.635v163.2c0,11.261,9.139,20.4,20.4,20.4h571.2
          c11.261,0,20.4-9.14,20.4-20.4v-163.2C612,376.354,602.86,367.235,591.6,367.235z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg></div
        ></label>
        <!-- <input type="file" id="img" style="display: none" accept="image/*" /> -->
        <input
          #imageInput
          type="file"
          id="img"
          style="display: none"
          accept="image/*"
        />
      </div>

      <!-- <div *ngIf="showResult" class="img-preview-container">
        <div
          class="img-preview{{
            selectedFile.status === 'fail' ? '-error' : ''
          }}"
          [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
        ></div>

        <div *ngIf="selectedFile.pending" class="spinner-overlay">
          <div class="spinner"></div>
        </div>

        <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
          Detection Successful!
          <p class="img__result">
            Fake image probablity: {{ this.selectedFile.percent }}%
          </p>
        </div>
        <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
          Detection Failed!
        </div>
        <div *ngIf="!selectedFile.pending">
          <a (click)="resetFile()" class="rgb__button"
            >Click here to Detect again</a
          >
        </div>
      </div> -->

      <a (click)="processFile(imageInput)" class="rgb__button">Detect</a>
    </div>
    <span class="border">&nbsp;</span>
    <div class="right">
      <h2 class="heading--primary">Scan & Detect Fake <span>Videos</span></h2>
      <h3 class="heading--secondary">Place a video link or upload a video</h3>
      <div class="form__group">
        <label for="vid" class="search_icon--label"
          ><div class="search_icon" title="Upload File">
            <svg
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              width="45px"
              height="45px"
              viewBox="0 0 612 612"
              style="enable-background: new 0 0 612 612"
              xml:space="preserve"
            >
              <g>
                <g id="_x31_0_28_">
                  <g>
                    <path
                      d="M218.953,197.915L285.6,117.13v290.864c0,11.281,9.139,20.44,20.4,20.44s20.4-9.139,20.4-20.44V116.355l67.299,81.559
          c7.997,8.038,20.972,8.038,28.969,0c7.996-8.038,7.996-21.053,0-29.09L321.851,46.608c-4.264-4.284-9.935-6.1-15.504-5.814
          c-5.589-0.285-11.24,1.53-15.504,5.814L189.985,168.824c-7.997,8.038-7.997,21.053,0,29.09
          C197.982,205.952,210.957,205.952,218.953,197.915z M591.6,367.235c-11.261,0-20.399,9.139-20.399,20.399v142.8H40.8v-142.8
          c0-11.261-9.139-20.399-20.4-20.399S0,376.374,0,387.635v163.2c0,11.261,9.139,20.4,20.4,20.4h571.2
          c11.261,0,20.4-9.14,20.4-20.4v-163.2C612,376.354,602.86,367.235,591.6,367.235z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg></div
        ></label>
        <input
          #videoInput
          type="file"
          id="vid"
          style="display: none"
          accept="video/*"
        />
      </div>

      <a (click)="processFile2(videoInput)" class="rgb__button">Detect</a>
    </div>

    <div *ngIf="showResult" class="img-preview-container">
      <!-- <div class="img-preview-container"> -->
      <div
        class="img-preview{{ selectedFile.status === 'fail' ? '-error' : '' }}"
        [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
      ></div>

      <div *ngIf="selectedFile.pending" class="spinner-overlay">
        <div class="spinner"></div>
      </div>

      <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
        Detection Successful!
        <p class="img__result">
          Fake probablity: {{ this.selectedFile.percent }}%
        </p>
      </div>
      <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
        Detection Failed!
      </div>
      <div *ngIf="!selectedFile.pending">
        <a (click)="resetFile()" class="rgb__button pos__bottom--center"
          >Click here to Detect again</a
        >
      </div>
    </div>
  </div>

  <news-feed></news-feed>
</div>
