.pic-upload {
  min-height: 90vh;
  padding: 2rem;
}

.pic-upload__group {
  display: flex;
  flex-direction: column;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
input[type="file"] {
  visibility: hidden;
}
