.app-container {
  min-height: 100vh;
  width: 100%;
  padding: 20px !important;
  position: relative;
  background-image: linear-gradient(to bottom right, blue, red);
  overflow: hidden;
}

.app-container__main {
  display: block;
  height: 87vh;
  width: 100%;
  background-color: var(--color-white);
  overflow: scroll;
  position: relative;
}
