.landing-page {
  padding: 2rem;
}

.landing-page__banner {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  padding-bottom: 3.5rem;
  display: flex;
  position: relative;
}

.landing-page__banner:not(:last-child) {
  margin-bottom: 15rem;
}

.left {
  display: block;
  width: 60%;
  margin-right: 10rem;
}

.landing-page__banner--heading {
  font-size: 3rem;
  line-height: 1.5;
}

.landing-page__banner--heading span {
  display: inline-block;
  background-image: linear-gradient(to bottom right, blue, red);
  background-clip: text;
  color: transparent;
}

.landing-page__banner--heading-secondary {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.landing-page__content1--img {
  width: 80%;
}

.u-bold {
  font-weight: 600;
}
