.landing-page {
  min-height: 90vh;
  padding: 2rem;
}

.landing-page__content1 {
  display: flex;
  /* flex-direction: column; */
  box-shadow: 0.5rem 1rem 1rem rgb(209, 208, 208);
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
}

.landing-page__content1:hover {
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(209, 208, 208);
  transition: all 0.4s;
}

.landing-page__content1--img {
  width: 40rem;
  margin-right: 4rem;
}

.landing-page__content1--text-header {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.u-bold {
  font-weight: 600;
}

.landing-page__content1--text-val {
  column-count: 2;
  column-gap: 3rem;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 200;
  column-rule: 1px solid #777;
  hyphens: auto;
}
