.landing-page {
  padding: 2rem;
}

.landing-page__banner {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  padding-bottom: 3.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .landing-page__banner {
    flex-direction: column;
  }

  .right {
    margin-top: 3rem;
    text-align: center;
  }

  .landing-page__banner:not(:last-child) {
    margin-bottom: 5rem !important;
  }
}

.landing-page__banner:not(:last-child) {
  margin-bottom: 15rem;
}

.left {
  display: inline-block;

  width: 100%;
  margin-right: 4rem;
}

.right {
  text-align: right;
}

.landing-page__banner--heading {
  font-size: 3rem;
  line-height: 1.5;
}

.landing-page__banner--heading span {
  display: inline-block;
  background-image: linear-gradient(to bottom right, blue, red);
  background-clip: text;
  color: transparent;
}

.landing-page__banner--heading-secondary {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.landing-page__banner--txt {
  font-size: 1.5rem;
  line-height: 1.2;
}

.landing-page__content1--img {
  width: 80%;
}

.u-bold {
  font-weight: 600;
}
