/* You can add global styles to this file, and also import other style files */

:root {
  --color-white: #f7f7f7;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SanFranciscoDisplayBlack;
  src: url(assets/font/SanFranciscoFont/SanFranciscoDisplay-Light.otf)
    format("opentype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 20px;
  font-family: "SanFranciscoDisplayBlack", serif;
}

.u-bg--white {
  background-color: var(--color-white);
}
